<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../css/default.css" th:href="@{/css/default.css}"/>
    <link rel="stylesheet" type="text/css" href="../../easyui/themes/default/easyui.css" th:href="@{/easyui/themes/default/easyui.css}"/>
    <link rel="stylesheet" type="text/css" href="../../easyui/themes/icon.css" th:href="@{/easyui/themes/icon.css}"/>
    <script type="text/javascript" src="../../easyui/jquery-1.4.4.min.js" th:src="@{/easyui/jquery-1.4.4.min.js}"></script>
    <script type="text/javascript" src="../../easyui/jquery.easyui.min.1.2.2.js" th:src="@{/easyui/jquery.easyui.min.1.2.2.js}"></script>
    <script type="text/javascript" src="../../js/ds_list.js" th:src="@{/js/ds_list.js}"></script>
    <script type="text/javascript" src="../../js/common.js" th:src="@{/js/common.js}"></script>
    <title>数据源运行情况监控列表</title>
    <style>
        input {
            width:200px;
        }
    </style>
</head>
<body>

<table id="tt" class="easyui-datagrid" >
</table>

<div id="ds_from_window">
    <div class="easyui-layout" fit="true">
    <div region="center" border="false" style="padding: 10px; background: #fff; border: 1px solid #ccc;">
        <form id="dsFrom" class="easyui-form">
        <table cellpadding="3">
            <input id="type" type="hidden" value="add" />
            <tr>
                <td>数据源Id：</td>
                <td><input id="dsId" class="easyui-numberbox" name="dsId" data-options="required:true"  /></td>
            </tr>
            <tr>
                <td>数据源名称：</td>
                <td><input id="dsName" class="txt01" name="dsName" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>接入表名：</td>
                <td><input id="srcTabName" class="txt01" name="srcTabName" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>数据库名：</td>
                <td><input id="srcDbName" class="txt01" name="srcDbName" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>数据库类型：</td>
                <td><input id="srcDbType" class="txt01" name="srcDbType" VALUE="MYSQL" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>数据库的服务器IP：</td>
                <td><input id="srcServIp" class="txt01" name="srcServIp" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>源数据库端口：</td>
                <td><input id="srcServPort" class="txt01" name="srcServPort" value="3306" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>导出目标路径（hdfs）：</td>
                <td><input id="targetPath" class="txt01" name="targetPath" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>导出文件字段分隔符：</td>
                <td><input id="fieldDel" class="txt01" name="fieldDel" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>导出字段：</td>
                <td><input id="exportCols" class="txt01" name="exportCols" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>导出条件：</td>
                <td><input id="whereExp" class="txt01" name="whereExp" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>优先级：</td>
                <td><input id="priorty" class="txt01" name="priorty" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>作业周期：</td>
                <td><input id="jobCycle" class="txt01" name="priorty" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>周期单位：</td>
                <td><input id="cycleUnit" class="txt01" name="priorty" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>数据源调度：</td>
                <td><input id="cronDesc" class="txt01" name="cronDesc" value="00 00 7 * * *" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>服务器ip：</td>
                <td><input id="hostName" class="txt01" name="hostName" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>是否有效：</td>
                <td><input id="dsValid" class="txt01" name="dsValid" data-options="required:true" /></td>
            </tr>
        </table>
        </form>
    </div>
    <div region="south" border="false" style="text-align: right; height: 30px; line-height: 30px;">
        <a id="save" class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)" >
            确定</a> <a id="btnCancel" class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)">取消</a>
    </div>
    </div>
</div>
</body>
</html>