<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../css/default.css" th:href="@{/css/default.css}"/>
    <link rel="stylesheet" type="text/css" href="../../easyui/themes/default/easyui.css" th:href="@{/easyui/themes/default/easyui.css}"/>
    <link rel="stylesheet" type="text/css" href="../../easyui/themes/icon.css" th:href="@{/easyui/themes/icon.css}"/>
    <script type="text/javascript" src="../../easyui/jquery-1.4.4.min.js" th:src="@{/easyui/jquery-1.4.4.min.js}"></script>
    <script type="text/javascript" src="../../easyui/jquery.easyui.min.1.2.2.js" th:src="@{/easyui/jquery.easyui.min.1.2.2.js}"></script>
    <script type="text/javascript" src="../../js/event_list.js" th:src="@{/js/event_list.js}"></script>
    <script type="text/javascript" src="../../js/common.js" th:src="@{/js/common.js}"></script>
    <title>作业运行队列管理</title>
</head>
<body>

<table id="tt" class="easyui-datagrid" >
</table>

<div id ="add_window">
    <div class="easyui-layout" fit="true">
        <div region="center" border="false" style="padding: 10px; background: #fff; border: 1px solid #ccc;">
            <form id="add_event_ff" method="post" class="easyui-form" action="queue_add">
            <table cellpadding="3">
                <input id="eventId" name="jobEvent.eventId" type="hidden" />
                <input id="instId" name="jobEvent.instId" type="hidden" />
                <tr>
                    <td>作业Id：</td>
                    <td><input id="jobId" class="easyui-numberbox" name="jobEvent.jobId" data-options="required:true"  /></td>
                </tr>
                <tr>
                    <td>数据日期：</td>
                    <td><input id="dataDate" class="txt01" name="jobEvent.dataDate" data-options="required:true" /></td>
                </tr>
                <tr>
                    <td>依赖作业ID：</td>
                    <td><input id="refJobId" class="easyui-numberbox" name="jobEvent.refJobId" data-options="required:true" /></td>
                </tr>
                <tr>
                    <td>依赖类型：</td>
                    <td><input id="refType" class="easyui-combobox" name="jobEvent.refType" data-options="required:true" /></td>
                </tr>
            </table>
            </form>
        </div>
        <div region="south" border="false" style="text-align: right; height: 30px; line-height: 30px;">
            <a id="save" class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)" >
                确定</a> <a id="btnCancel" class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)">取消</a>
        </div>
    </div>
</div>

</body>
</html>