<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../css/default.css" th:href="@{/css/default.css}"/>
    <link rel="stylesheet" type="text/css" href="../../easyui/themes/default/easyui.css" th:href="@{/easyui/themes/default/easyui.css}"/>
    <link rel="stylesheet" type="text/css" href="../../easyui/themes/icon.css" th:href="@{/easyui/themes/icon.css}"/>
    <script type="text/javascript" src="../../easyui/jquery-1.4.4.min.js" th:src="@{/easyui/jquery-1.4.4.min.js}"></script>
    <script type="text/javascript" src="../../easyui/jquery.easyui.min.1.2.2.js" th:src="@{/easyui/jquery.easyui.min.1.2.2.js}"></script>
    <script type="text/javascript" src="../../js/menu_list.js" th:src="@{/js/menu_list.js}"></script>
    <style>
        .txt01 {
            width: 200px;
        }
    </style>
    <title>菜单管理界面</title>
</head>
<body>

<table id="tt" class="easyui-datagrid" >
</table>

<div id ="add_window">
    <div class="easyui-layout" fit="true">
        <div region="center" border="false" style="padding: 10px; background: #fff; border: 1px solid #ccc;">
            <form id="add_queue_ff" method="post" class="easyui-form" action="queue_add">
            <table cellpadding="3">
                <input id="menuId" name="menuId" type="hidden" />
                <tr>
                    <td>菜单名：</td>
                    <td><input id="menuName" class="txt01" name="menuName"  /></td>
                </tr>
                <tr>
                    <td>菜单图标：</td>
                    <td><input id="menuIcon" class="txt01" name="menuIcon" /></td>
                </tr>
                <tr>
                    <td>菜单URL：</td>
                    <td><input id="menuUrl" class="txt01" name="menuUrl" /></td>
                </tr>
                <tr>
                    <td>菜单权限：</td>
                    <td><input id="permission" class="txt01" name="permission"/></td>
                </tr>
                <tr>
                    <td>菜单类型：</td>
                    <td><input id="menuType" class="txt01" name="menuType" style="width: 200px" /></td>
                </tr>
                <tr>
                    <td>父菜单：</td>
                    <td><input id="parentId" class="txt01" name="parentId" style="width: 200px" /></td>
                </tr>
                <tr>
                    <td>是否有效：</td>
                    <td><input id="status" class="txt01" name="status" style="width: 200px" /></td>
                </tr>
            </table>
            </form>
        </div>
        <div region="south" border="false" style="text-align: right; height: 30px; line-height: 30px;">
            <a id="save" class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)" >
                确定</a> <a id="btnCancel" class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)">取消</a>
        </div>
    </div>
</div>

</body>
</html>