<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mongohua.etl.mapper.JobRefCntMapper" >
    <resultMap id="JobRefCntMap" type="com.mongohua.etl.model.JobRefCnt" >
        <id column="job_id" property="jobId" jdbcType="INTEGER" />
        <result column="ref_job_id" property="refJobId" jdbcType="INTEGER" />
        <result column="ref_type" property="refType" jdbcType="VARCHAR" />
        <result column="data_date" property="dataDate" jdbcType="INTEGER" />
        <result column="tot_cnt" property="totCnt" jdbcType="INTEGER" />
        <result column="succ_cnt" property="succCnt" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        job_id,ref_job_id,ref_type,data_date,tot_cnt,succ_cnt
    </sql>
    <select id="getById" resultMap="JobRefCntMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from t_job_ref_cnt
        where job_id = #{jobId,jdbcType=INTEGER}
    </select>
    <!-- 这个方法是我自己加的 -->
    <select id="getList" resultMap="JobRefCntMap">
        select
        <include refid="Base_Column_List" />
        from t_job_ref_cnt
    </select>
    <delete id="delete" parameterType="com.mongohua.etl.model.JobRef" >
        delete from t_job_ref_cnt
        where job_id = #{jobId,jdbcType=INTEGER}
          and ref_job_id=#{refJobId, jdbcType=INTEGER}
          and ref_type=#{refType,jdbcType=INTEGER}
          and data_date=#{dataDate,jdbcType=INTEGER}
    </delete>
    <insert id="add" parameterType="com.mongohua.etl.model.JobRef" >
        insert into t_job_ref_cnt (job_id,ref_job_id,ref_type,data_date,tot_cnt,succ_cnt)
        values (#{jobId,jdbcType=INTEGER}, #{refJobId,jdbcType=INTEGER}, #{refType,jdbcType=INTEGER},
                #{dataDate,jdbcType=INTEGER},#{totCnt,jdbcType=INTEGER},#{succCnt,jdbcType=INTEGER})
    </insert>

    <update id="update" parameterType="com.mongohua.etl.model.JobRef">
        update t_job_ref_cnt set tot_cnt=#{totCnt,jdbcType=INTEGER},succ_cnt=#{succCnt,jdbcType=INTEGER}
         where job_id=#{jobId, jdbcType=INTEGER}
           and ref_job_id=#{refJobId, jdbcType=INTEGER}
           and REF_TYPE=#{refType,jdbcType=INTEGER}
           and data_date=#{dataDate, jdbcType=INTEGER}
    </update>

</mapper>