<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mongohua.etl.mapper.MenuMapper" >
    <resultMap id="menuMap" type="com.mongohua.etl.model.Menu" >
        <id column="menu_id" property="menuId" jdbcType="INTEGER" />
        <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
        <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="permission" property="permission" jdbcType="VARCHAR" />
        <result column="perm_type" property="permType" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="checked" property="checked" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        a.menu_id,a.menu_name,a.menu_icon,a.parent_id,a.url,a.permission,a.perm_type,a.status
    </sql>
    <select id="getMenus" resultMap="menuMap">
        select
        <include refid="Base_Column_List" />
        from t_menu a
             join t_role_menu b on a.menu_id=b.menu_id
             join t_user c on b.role_id=c.role_id
             join t_role d on b.role_id=d.role_id and d.status=1
        where a.parent_id=#{parentId}
          AND c.user_id=#{userId}
          AND a.status=1
    </select>

    <select id="getPerimission" resultMap="menuMap">
        select
        <include refid="Base_Column_List" />
        from t_menu a
              join t_role_menu b on a.menu_id=b.menu_id
              join t_user c on b.role_id=c.role_id
              join t_role d on b.role_id=d.role_id and d.status=1
        where  c.user_id=#{userId}
        and a.status=1
    </select>

    <select id="getMenusByPid" resultMap="menuMap">
        select
        <include refid="Base_Column_List" />
        ,case when b.menu_id is not null then 1 else 0 end checked
        from t_menu a
              left join (
                select a.menu_id
                  from  t_role_menu a
                 where a.role_id=#{roleId}
              ) b on a.menu_id=b.menu_id
       WHERE a.parent_id=#{parentId}
    </select>

    <select id="getMenusByPid2" resultMap="menuMap">
        select
        <include refid="Base_Column_List" />
        from t_menu a
        WHERE a.parent_id=#{parentId}
    </select>

    <insert id="add" parameterType="com.mongohua.etl.model.Menu" >
        insert into t_menu(menu_name,menu_icon,parent_id,url,permission,perm_type,status)
        values(#{menuName,jdbcType=VARCHAR},#{menuIcon,jdbcType=VARCHAR},#{parentId,jdbcType=INTEGER},#{url,jdbcType=VARCHAR},
                #{permission,jdbcType=VARCHAR},#{permType,jdbcType=VARCHAR},#{status,jdbcType=INTEGER})
    </insert>

    <update id="update" parameterType="com.mongohua.etl.model.Menu" >
        update t_menu set menu_name=#{menuName,jdbcType=VARCHAR},
                            menu_icon=#{menuIcon,jdbcType=VARCHAR},
                            parent_id=#{parentId,jdbcType=INTEGER},
                            url=#{url,jdbcType=VARCHAR},
                            permission=#{permission,jdbcType=VARCHAR},
                            perm_type=#{permType,jdbcType=VARCHAR},
                            status=#{status,jdbcType=INTEGER}
         where menu_id=#{menuId,jdbcType=INTEGER}
    </update>
</mapper>