<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mongohua.etl.mapper.MenuMapper" >
    <resultMap id="menuMap" type="com.mongohua.etl.model.Menu" >
        <id column="menu_id" property="menuId" jdbcType="INTEGER" />
        <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
        <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="permission" property="permission" jdbcType="VARCHAR" />
        <result column="perm_type" property="permType" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="checked" property="checked" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        A.menu_id,A.menu_name,A.menu_icon,A.parent_id,A.url,A.permission,A.perm_type,A.status
    </sql>
    <select id="getMenus" resultMap="menuMap">
        select
        <include refid="Base_Column_List" />
        from t_menu A
             join t_role_menu B on a.menu_id=b.menu_id
             join t_user C ON B.ROLE_ID=C.ROLE_ID
             JOIN t_role D ON B.ROLE_ID=D.ROLE_ID AND D.status=1
        where A.parent_id=#{parentId}
          AND C.USER_ID=#{userId}
          AND A.STATUS=1
    </select>

    <select id="getPerimission" resultMap="menuMap">
        select
        <include refid="Base_Column_List" />
        from t_menu A
              join t_role_menu B on a.menu_id=b.menu_id
              join t_user C ON B.ROLE_ID=C.ROLE_ID
              JOIN t_role D ON B.ROLE_ID=D.ROLE_ID AND D.status=1
        where  C.USER_ID=#{userId}
        AND A.STATUS=1
    </select>

    <select id="getMenusByPid" resultMap="menuMap">
        select
        <include refid="Base_Column_List" />
        ,CASE WHEN B.MENU_ID IS NOT NULL THEN 1 ELSE 0 END checked
        from t_menu A
              left join (
                select a.menu_id
                  from  t_role_menu a
                 where a.role_id=#{roleId}
              ) b on a.menu_id=b.menu_id
       WHERE A.parent_id=#{parentId}
    </select>

    <select id="getMenusByPid2" resultMap="menuMap">
        select
        <include refid="Base_Column_List" />
        from t_menu A
        WHERE A.parent_id=#{parentId}
    </select>

    <insert id="add" parameterType="com.mongohua.etl.model.Menu" >
        insert into t_menu(menu_name,menu_icon,parent_id,url,permission,perm_type,status)
        values(#{menuName,jdbcType=VARCHAR},#{menuIcon,jdbcType=VARCHAR},#{parentId,jdbcType=INTEGER},#{url,jdbcType=VARCHAR},
                #{permission,jdbcType=VARCHAR},#{permType,jdbcType=VARCHAR},#{status,jdbcType=INTEGER})
    </insert>

    <update id="update" parameterType="com.mongohua.etl.model.Menu" >
        update t_menu set menu_name=#{menuName,jdbcType=VARCHAR},
                            menu_icon=#{menuIcon,jdbcType=VARCHAR},
                            parent_id=#{parentId,jdbcType=INTEGER},
                            url=#{url,jdbcType=VARCHAR},
                            permission=#{permission,jdbcType=VARCHAR},
                            perm_type=#{permType,jdbcType=VARCHAR},
                            status=#{status,jdbcType=INTEGER}
         where menu_id=#{menuId,jdbcType=INTEGER}
    </update>
</mapper>