<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mongohua.etl.mapper.QueueMapper" >
    <resultMap id="QueueMap" type="com.mongohua.etl.model.JobQueue" >
        <id column="queue_id" property="queueId" jdbcType="INTEGER" />
        <result column="job_id" property="jobId" jdbcType="INTEGER" />
        <result column="data_date" property="dataDate" jdbcType="VARCHAR" />
        <result column="PRIORTY" property="priorty" jdbcType="INTEGER" />
        <result column="host_name" property="hostName" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        queue_id, job_id, data_date, priorty,host_name
    </sql>

    <select id="getList" resultMap="QueueMap">
        select
        <include refid="Base_Column_List" />
        from t_job_queue
        order by priorty desc
    </select>
    <delete id="delete" >
        delete from t_job_queue
        WHERE queue_id in
        <foreach collection="queueIds" index="index" item="id"
                 separator="," open="(" close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>
    <insert id="add" parameterType="com.mongohua.etl.model.JobQueue" >
        insert into t_job_queue (job_id,data_date,priorty,host_name)
        values (#{jobId,jdbcType=INTEGER}, #{dataDate,jdbcType=VARCHAR}, #{priorty,jdbcType=INTEGER},#{hostName,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.mongohua.etl.model.JobQueue">
        update t_job_queue set
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="jobId != null and jobId !=0">
                job_id=#{jobId, jdbcType=INTEGER},
            </if>
            <if test="dataDate != null">
                data_date=#{dataDate, jdbcType=VARCHAR},
            </if>
            <if test="priorty != null and priorty !=0">
                priorty = #{priorty, jdbcType=VARCHAR},
            </if>
            <if test="hostName != null" >
                host_name=#{hostName, jdbcType=VARCHAR},
            </if>
        </trim>
        where queue_id = #{queueId, jdbcType=INTEGER}
    </update>

    <insert id="insertSelective" parameterType="com.mongohua.etl.model.JobQueue" >
        insert into t_job_queue
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="jobId != null and jobId !=0" >
                job_id,
            </if>
            <if test="dataDate != null" >
                data_date,
            </if>
            <if test="priorty != null and priorty !=0" >
                priorty,
            </if>
            <if test="hostName != null" >
                host_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="jobId != null and jobId !=0" >
                #{jobId,jdbcType=INTEGER},
            </if>
            <if test="dataDate != null" >
                #{dataDate,jdbcType=VARCHAR},
            </if>
            <if test="priorty != null and priorty !=0" >
                #{priorty,jdbcType=INTEGER},
            </if>
            <if test="hostName != null" >
                #{hostName, jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>