<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mongohua.etl.mapper.UserMapper" >
    <resultMap id="UserMap" type="com.mongohua.etl.model.User" >
        <id column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="login_name" property="loginName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="salt" property="salt" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="part_name" property="partName" jdbcType="VARCHAR" />
        <result column="role_id" property="roleId" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        user_id, login_name, password, salt, user_name, part_name,role_id
    </sql>
    <select id="findByUsername" resultMap="UserMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_user
        where login_name = #{username}
    </select>

    <select id="getListForPage" resultMap="UserMap" >
        select
        <include refid="Base_Column_List" />
        from t_user A
        limit #{pageIndex}, #{pageSize}
    </select>

    <select id="getCount" resultType="java.lang.Integer" >
        select count(*) from t_user
    </select>

    <insert id="add" parameterType="com.mongohua.etl.model.User" >
        insert into t_user (login_name,password,user_name,part_name,role_id)
        values (#{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},#{partName,jdbcType=VARCHAR},#{roleId,jdbcType=INTEGER})
    </insert>

    <update id="update" parameterType="com.mongohua.etl.model.User">
        update t_user set login_name=#{loginName,jdbcType=VARCHAR},
                            user_name=#{userName, jdbcType=VARCHAR},
                            part_name=#{partName,jdbcType=VARCHAR},
                            role_id=#{roleId,jdbcType=INTEGER}
        where user_id=#{userId, jdbcType=INTEGER}
    </update>

    <update id="changePwd" parameterType="com.mongohua.etl.model.User">
        update t_user set password=#{password,jdbcType=VARCHAR}
        where user_id=#{userId, jdbcType=INTEGER}
    </update>
</mapper>